#profile-header {
  color: white;
  border-bottom: 1px solid rgb(62, 65, 68);
  padding: 24px;
  font-weight: 600;
  font-size: 24px;
  border-right: 1px solid rgb(62, 65, 68);
  border-left: 1px solid rgb(62, 65, 68);
  box-sizing: border-box;
}
